<div class="bg-dark text-white mb-0 off" id="fixed-bottom">
  <div class="container">
  <div class="row">
    
      
      <div class="col-sm-6 mt-3">
      <div class="container ">
      <!-- Social buttons -->
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
         <a class="btn btn-outline-light btn-lg text-danger  rounded" href="http://www.youtube.com/user/MrFattylee" target="_blank">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-light btn-lg text-primary mx-1 rounded-circle" href="https://m.facebook.com/fatai.balogun1" target="_blank">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
         <a class="btn btn-outline-light btn-lg text-primary mx-1 rounded-circle" href="https://www.linkedin.com/in/fatai-balogun-88754b171" target="_blank">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
         <a class="btn btn-outline-light btn-lg text-primary mx-1 rounded" href="https://twitter.com/Fattylee7" target="_blank">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
    </ul>
    </div>
    <!-- end Social buttons -->
      </div>
      
      <div class="col-sm-6 bg-black">
       <div class="container my-3">
          <ul class="list-unstyled list-inline small">
      <li class="list-inline-item ">
        <a class="text-secondary add-light" href="/about"><i class='fas fa-info-circle'></i> About</a>
      </li>
    </ul>
       <div class="pm-3 small">
       <a class="text-secondary add-light" href="https://fattylee-storybook.herokuapp.com" target="_blank">Storybook</a> &copy 2019  
       <script>
         // display currentYear if greater than 2019
         const currentYear = new Date().getFullYear();
        currentYear > 2019 && document.write('- ' + currentYear)
        </script>
   
      </div>
     
      </div>
     </div>
      
   </div><!-- end row -->
  </div><!-- container -->
   </div><!-- end footer -->
    