<div class="bg-dark text-white footer-copy ">
  <div class="containery">
  <div class="row">
    
      
      <div class="col-sm-6 py-3 ">
      <div class="container">
      <!-- Social buttons -->
    <ul class="list-unstyled list-inline ">
      <li class="list-inline-item">
        <a class="btn btn-outline-light btn-lg text-primary mx-1 rounded-circle">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
         <a class="btn btn-outline-light btn-lg text-primary mx-1 rounded-circle">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
         <a class="btn btn-outline-light btn-lg text-danger mx-1 rounded">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
         <a class="btn btn-outline-light btn-lg text-primary mx-1 rounded">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      
    </ul>
    </div>
    <!-- Social buttons -->
      </div>
      
       <div class="col-sm-6 py-3 bg-danger">
       <div class="container">
      &copy; <script>document.write(new Date().getFullYear())</script>
    <a href="https://fattylee-storybook.herokuapp.com"> fattylee-storybook</a>
    </div>
      </div>
   </div>
  </div><!-- container -->
   </div>
    