<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
<div class='container'>
  <a class="navbar-brand" href="/">StoryBook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
    
    
    <ul class="navbar-nav ml-auto">
   {{#if user}}
   
     <div class="dropdown">
    <a class="btn btn-primary dropdown-toggle nav-link text-left" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-book"></i>  Story </a>
     
    
     <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
       
     {{#isNotEqual 'Stories' pageTitle}}
     <a class="dropdown-item text-dark" href="/stories"><i class="fas fa-book-open"></i> View stories</a>
     {{/isNotEqual}}
     
     {{#isNotEqual 'Create story' pageTitle}}
    <a class="dropdown-item text-dark" href="/stories/add"><i class="fas fa-plus"></i> Add story</a>
    {{/isNotEqual}}
    <form method="post" action="/stories/faker">
      <div class="form-group dropdown-item">
        <input type="number" name="amount" class="form-control">
      </div>
    </form>
    </div> <!-- end dropdown-menu -->
    </div><!-- end dropdown -->
 
   
    <li class="nav-item">
        <a class="nav-link " href="/users/me"> <img src='https://storage.cloud.google.com/storybook_uploads/{{user.avatar }}'
        width="20" height="25" alt="" class="img-fluid rounded-circle " /> <span>{{capitalizeEach user.name}}</span> </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/users/logout"><i class='fas fa-sign-out-alt'></i> Logout</a>
    </li>
    
    
      {{else}}
      <li class="nav-item ">
        <a class="nav-link" href="/users/login"><i class='fas fa-user-lock'></i> Login</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/users/register"><i class='fas fa-user-plus'></i> Register</a>
      </li>
    {{/if}}
    
    </ul>
      
  </div>
  </div>
</nav>

 