<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Idea Video App</title>
    <script src="/js/eruda.min.js"></script>
    <script>eruda.init();</script>
    <script src="/js/eruda-code.min.js"></script>
    <script>eruda.add(erudaCode)</script>
    <script src="/js/eruda-dom.min.js"></script>
    <script>eruda.add(erudaDom)</script>
    
  </head>
  <body>
  
    {{> _navbar }}
    {{{body}}}
    
   
  </body>
</html>