<!DOCTYPE html>
<html lang='en'>
  <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> 
    {{#if pageTitle }}
    {{ pageTitle }} || Storybook 
    {{ else}}
     Storybook 
    {{/if}}
    </title>
    
    <link rel="shortcut icon" href="/img/storybook.png" />
    
    <link rel="stylesheet" href="/dist/css/styles.css" />
   
 
    
      <link rel="stylesheet" href="/fontawesome-free-5.8.2-web/css/all.min.css" >
    
    <!-- main js -->
  <script src="/dist/bundle.js"></script>
       
  </head>
  <div class="pa" >
    <!--img class="img" src="/storybook-37a2875c0d36b94f5dd0024551748041.png" alt="" -->
  </div>
  <body>
   <!-- navbar partials -->
    {{> _navbar }}
    {{> _msg }}
    {{> _errors }}
   
   <div class="body">
    {{{body}}}
    </div>
    
    <div class="parent-root" style="padding: 20vh 5% 0 5%; border: 1px solid blue">
      Hello hack!
       <h1 style = "border: 1px solid red; height: 400px" class="target">I am the next target</h1>
    </div>
   
    
   {{> _footer }}
   
  
  </body>
</html>