@pr: green;
@off-black: #20222b;
@purple: #8357c5 ;


@dist: 60px;
@btnSize: 20px;
.action-btn {
  border-radius: 50%;
  width: @dist;
  height: @dist;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: @dist/3;
  right: @dist/3;
  z-index: 1200;
  box-shadow: 1px 4px 12px rgba(0,0,0,0.4);
  &:hover {
    box-shadow: 2px 4px 7px rgba(0,0,0,0.7); 
  }
  
}

.body {
  //min-height: 100vh;
}

.parent-root {
  color: purple;
  background: orange;
  //background: url('/img/storybook.png') no-repeat
}
@base: "dist/";
@path: "../storybook.png";
@back: "@{base}@{path}";
.pa {
  width: 100%;
}
.img, .pa{
  color: skyblue ;
  //background-image: url(../../../public/img/500-Error-Page-Template.gif);
 // background-image: url(../storybook.png);
 // height: 200px;
  background-repeat: no-repeat;
  border: 2px red solid;
  background-color: grey;
  background-attachment: fixed;
  background-position: center ;
  background: pink url(../storybook.png) no-repeat center;
  padding-bottom: 100%;
  width: 100%;
  background-size: 100%;
}