@pr: green;
@off-black: #20222b;
@purple: #8357c5 ;
@primary: rgb(0,123,255);
@danger: rgb(220,53,69);

// screen sizes
@m-screen: 440px;


@dist: 60px;
@btnSize: 20px;
.action-btn {
  border-radius: 50%;
  width: @dist;
  height: @dist;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: @dist/3;
  right: @dist/3;
  z-index: 1200;
  border: 0.3px solid @primary;
  box-shadow: 1px 4px 12px rgba(0,0,0,0.4);
  &:hover {
    box-shadow: 2px 4px 7px rgba(0,0,0,0.7);
    border: 1px solid @primary;
  }
  
}

.shadow-dark {
  box-shadow: rgba(0,0,0,0.5) 0px 0.5rem 1rem;
  border-bottom: 2px solid darken(@primary, 15%);
}
.shadow-dark-react {
  .shadow-dark;
  border-bottom-color: darken(@danger, 15%);
}
.story-avatar{
  background: url(../free-blurry-12x12.jpg) no-repeat center top;
  width: 100%;
  height: 200px;
  text-align: center;
  background-size: 100%; 
  overflow: hidden;
  img {
    opacity: 0;
    transition: all 0.1s;
    max-width: 100%;
  }
  .story-avatar-img-fade {
  opacity: 1;
  }
  
}
.full-story-img {
    height: auto ; 
    margin: 30px 0;
  }
.auto {
  height: auto ;
  max-height: 250px;
}
.or {
  position: relative;
  height: 40px;
  hr {
    position: absolute;
    width: 100%;
  }
  span {
    position: absolute;
    top: 5px;
    left: calc(50% - 45px);
    background: white;
    padding: 0px 30px;
  }
}
#story-img {
  max-height: 300px;
}

.searchBox-container {
  border-bottom: 1px solid blue;
  width: 92%;
  position: fixed;
  left: 4%;
  margin-top: 20px;
  z-index: 1000;
  overflow: hidden;
  
  & ::placeholder {
   color: darken(white, 10%);
   font-size: 0.9rem;
   font-style: italic;
  }
  
  .search-box {
    padding: 10px 50px 10px 15px;
    outline: none;
    border: none;
    width: calc(100% - 40px);
    background: rgba(0,0,0,0.8);
    color: white;
  }
  
  .close-search-box {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    background: red;
    width: 40px;
    cursor: pointer;
  }
  .match-count {
    .close-search-box;
    right: 40px;
    cursor: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 11.5px;
  }
       
}


.story-list {
  margin-bottom: 170px;
}

hr.text-white {
  border-top-color: rgba(255,255,255,0.6);
}
/* above mobile devices*/
@media (min-width: @m-screen) {

  .story-card-title {
    height: 50px;
    overflow: overlay;
  }
  
  .story-card-body {
    height: 110px;
    overflow: hidden;
  }
  .story-avatar {
    height: 220px;
  }
  .card-footer-h {
    height: 70px;
  }
  .full-story-img {
    height: auto ; 
    margin: 30px 0;
  }
  .story-list {
  margin-bottom: 80px;
  }
  .searchBox-container {
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* end above mobile devices*/