{{#unless user}}
<div class="jumbotron bg-dark jumbotron-fluid">
  <div class="container text-center  text-white">
    <h1 class="display-4" >Welcome to Storybook app<span class="fas fa-book text-secondary"></span>
    </h1>
    <p class="lead">Publish your thought and make a difference! </p>
    <p><a href='/users/register'>Register</a> or <a href='/users/login'>Login</a> to get started</p>
  </div>
  </div>
  {{else}}
  
  <div class="container mt-4">
    <h3>Latest stories</h3>
  </div>
  {{!-- display only public stories --}}
      <div class="container">
      <div class="row">
        {{#each stories}}
        <div class=" col-sm-6">
          <div class="card mb-3">
            <div class="text-center">
            <img src="/img/uploads/stories/{{storyImage}}" alt="{{storyImage}}" class="mb-2" height="150" width="100%"/>
            </div>
          <div class="card-body"> 
            <h5 class="card-title text-center">{{title}}</h5>  
            <p class="card-text">{{{truncateDetails details 100}}}
              <a class="btn text-secondary border-dark bg-white" href="/stories/{{id}}">Read More &rarr;</a>
            </p>
          </div> 
          <div class="card-footer">
            <small class="text-muted mt-2">
            <span class="fas fa-user"></span>     
           <span class="pl-1"> {{capitalizeEach user.name}}</span> <span class="ml-2 pl-1 fas fa-clock fa-1x"></span> {{displayDate updatedAt 'MMM DD[,] YYYY [at] hh:mm a' }} 
          </small>
          </div><!-- class="card-footer" -->
        </div><!-- End Card-->
      </div><!-- End col -->
           {{else}}
        <div class="col">
           <p class="jumbotron">No published stories <a href="/stories" class="btn btn-primary"><span class="fas fa-plus"></span> Publish a story</a></p></p>
         </div>
    {{/each}}
  </div><!-- End row  -->
</div><!-- End container -->
{{/unless}}