<div class="container mt-4">
<div class="card">
  <div class="card-header">
  <div class="card-title text-center">
    Sahih Muslim (The Book of Faith - 422)
  </div>
  </div>
  <div class="card-body bg-dark text-light">
    Narrated Abu Sa'id al-Khudri reported, Verily, <span class="text-primary">the Messenger of Allah (pbuh)</span> said: The least tormented of the inhabitants of the <span class="text-danger"> Fire</span> would be he who would wear two shoes of <span class="text-danger"> Fire</span> and his brain would boil on account of the heat of the shoes.
  </div>
  
  <div class="card-footer text-center text-muted">
    Shared via <span class="text-primary">Storybook</span> app
  </div>
</div>
</div>