<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add New Idea Page</title>
  
  </head>
  <body>
    <h3>Add your next video idea</h3>
    {{#each errors}}
      <p>{{error}}</p>
    {{/each}}
    <form method="post" action="/ideas">
      <input placeholder="enter title" name="title" value="{{idea.title}}">
        <div>
        <textarea name="details" placeholder="enter details">{{idea.details}}</textarea>
        </div>
        <button>Submit</button>
    </form>
  </body>
</html>