<div class="container">
  
  <h3 class="text-center mt-4" id="story-title">Add your next story</h3>
  <div class="text-center">
    <img src="" width="200" class="img-fluid mb-4 rounded" id="story-img"/>
    </div>
  <div class="row">
    <div class="col-sm-8 mx-auto mb-4">
<form method="post" action="/stories" id="story" data-name="add">
  
  
   <input type="hidden" name="storyImage" value=""/>
 <!--input type="hidden" id="prevAvatar" value="https://storage.cloud.google.com/storybook_uploads/{{user.avatar }}"-->
  
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" value="{{story.title}}" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter title" autofocus="" required="" maxlength="100" minlength="5">
  </div> {{!-- End title --}}
  
  <div class="form-group">
    <label for="details">Details</label>
    <textarea name="details" type="password" class="form-control details-height" id="details" placeholder="Enter details" required="" minlength="100">{{story.details}}</textarea>
  </div> {{!-- End details --}}
  
   <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Upload</span>
    </div>
    <div class="custom-file">
    <input type="file" class="custom-file-input" id="file" accept="image/*" required="" >
    <label class="custom-file-label" for="file">Choose a story image</label>
    </div>
  </div> {{!-- End File upload --}}
  
   <div class="form-check">
        <label for="allowComments" class="form-check-label">
        <input name="allowComments" type="checkbox" class="form-check-input" id="allowComments" checked>
            Allow Comments
        </label>
    </div>
  <div class="form-group">
     <label for="status">Status</label>
<select class="form-control" id="status" name="status">
    <option value="public">Public</option>
    <option value="private">Private</option>
  </select>
  </div>
  <button type="submit" class="btn btn-block btn-primary" data-name='add'>Add story</button>
</form>
</div>
</div>
</div>