<div class="container mt-4">
  <div class="row">
    {{#if story }}
      <div class=" col-sm-9 mx-auto">
        <div class="text-center">
        <img src="/img/uploads/stories/{{story.storyImage}}" alt="{{story.storyImage}}" class="img-fluid mb-4" />
        </div>
        <div class="card border-0 my-3"> 
          <div class=""> 
            <h4 class="card-title text-center mb-3">{{story.title}}</h4>  
            <p class="card-text px-2">{{story.details}}</p>
          </div> 
        <div class="card-footer mt-3">
          {{#isEqual  story.user._id user._id}}
           <a href="/stories/edit/{{story._id}}" class="btn btn-block btn-dark mb-2">Edit </a> 
             <form action="/stories/{{story._id}}?_method=DELETE" method="post">
              <button class="btn btn-block btn-danger mb-2">Delete </button> 
            </form>
            {{/isEqual}}
            
         <small class="text-muted">
           <span class="fas fa-user"></span>     
           <span class="pl-1"> {{capitalizeEach story.user.name}}</span> <span class="ml-2 pl-1 fas fa-clock fa-1x"></span> {{displayDate story.updatedAt 'MMM DD[,] YYYY [at] hh:mm a' }} 
          </small>
          </div><!-- class="card-footer" -->
        </div><!-- End Card-->
        <hr>
          <h5>Recent comments:</h1>
      </div><!-- End col -->
           {{else}}
         <div class="col">
           <p class="jumbotron">Story not found <a href="/stories/add" class="btn btn-primary"><span class="fas fa-plus"></span> Add story</a></p>
           
           <hr />
           
         </div>
    {{/if}}
    
    <!-- comments section -->
   
    {{#each story.comments}}

        <!-- Single Comment -->
         <div class="col-sm-9 mx-auto">
<div class="card-body">
                 <small class="text-muted mt-2">
                  <span class="fas fa-user"></span>     
           <span class="pl-1"> {{capitalizeEach owner.name}}</span> <span class="ml-2 pl-1 fas fa-clock fa-1x"></span> {{displayDate updatedAt 'MMM DD[,] YYYY [at] hh:mm a' }}
               </small>
                <p>
                {{body}}
                </p>
            </div> <!--div class="card-body"-->
             <hr>
        </div>  <!--div class="col-sm-9 mx-auto"-->
        
       
        {{/each}}
          
    
    
    <div class="col-sm-9 mx-auto">
       <!--  Content -->

    {{#if user}}

     {{#if story.allowComments}}

        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form action="/stories/comments/" method="post">
                    <div class="form-group">
                        <textarea name="body" class="form-control" rows="3" placeholder="Enter comment"></textarea>

                        <input type="hidden" value="{{story._id}}" name="id">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        {{else}}

        <h4 class="text-secondary mt-4">
          <span class="fas fa-exclamation-triangle text-danger"></span>
          Comments disabled for this story</h4>

            <br>
            <hr>


        {{/if}}


    {{else}}

        You need to login to comment <a href="/users/login">Login</a>

        <br>
        <hr>

    {{/if}}


    </div><!-- End col-sm-9 mx-auto  -->
    
  </div><!-- End row  -->
</div><!-- End container -->
      
      