<div class="container mt-4">
   <h2 class="diaplay-2 text-center mb-3">My stories</h2>
  <div class="row">
    {{#each stories }}
   
      <div class=" col-sm-6">
        <div class="card mb-3"> 
        <div class="text-center">
        <img src="/img/uploads/stories/{{storyImage}}" alt="{{storyImage}}" class="mb-2" height="300" width="100%"/>
        </div>
          <div class="card-body"> 
            <h4 class="card-title text-center mb-3">{{title}}</h4>  
            <p class="card-text">{{{truncateDetails details 100}}} <a class="btn text-dark border-dark bg-white" href="/stories/{{id}}">Full story</a></p>
          </div> 
        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <form action="/stories/{{id}}/{{status}}?_method=PATCH" method="post">
                <div class="input-group mb-3"> 
                <div class="input-group-append" > 
                <button class="btn btn-outline-secondary text-white bg-dark" disabled="" type="button" id="button-addon2">Status</button> 
                <button class="btn btn-outline-secondary text-dark"  type="submit" id="button-addon2">{{status}}</button> 
                </div> 
                </div>
               
              </form>
            </div>
            <div class="col">
              <a href="/stories/edit/{{id}}" class="btn btn-block btn-dark mb-2">Edit </a> 
            </div>
          </div>
          <form action="/stories/{{_id}}?_method=DELETE" method="post">
            <button class="btn btn-block btn-danger">Delete </button> 
          </form>
          </div><!-- class="card-footer" -->
        </div><!-- End Card-->
      </div><!-- End col -->
           {{else}}
         <div class="col">
           <p class="jumbotron">You have no stories <a href="/stories/add" class="btn btn-primary"><span class="fas fa-plus"></span> Add story</a></p>
         </div>
    {{/each}}
  </div><!-- End row  -->
</div><!-- End container -->
      
<script>
 window.onload =  function(e){ 
 if (window.location.href.includes('#')) {
window.location.hash = ''; // for older browsers, leaves a # behind
history.pushState('', document.title, window.location.pathname); // nice and clean
e.preventDefault(); // no page reload 
} 
};
</script>