<div class="container mt-4">
  <div class="row">
    {{#each stories }}
      <div class=" col-sm-6">
        <div class="card mb-3"> 
          <div class="card-body"> 
            <h5 class="card-title text-center">{{title}}</h5>  
            <p class="card-text">{{details}}</p>
          </div> 
        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <form action="/stories/{{id}}/{{status}}?_method=PUT" method="post">
                <label>Status: </label>
                <button class="btn btn-primary mb-2">{{status}}</button>
              </form>
            </div>
            <div class="col">
              <a href="/stories/edit/{{id}}" class="btn btn-block btn-dark mb-2">Edit </a> 
            </div>
          </div>
          <form action="/stories/{{_id}}?_method=DELETE" method="post">
            <button class="btn btn-block btn-danger">Delete </button> 
          </form>
          </div><!-- class="card-footer" -->
        </div><!-- End Card-->
      </div><!-- End col -->
           {{else}}
         <div class="col">
           <p class="jumbotron">You have no stories <a href="/stories/add" class="btn btn-primary"><span class="fas fa-plus"></span> Add story</a></p>
         </div>
    {{/each}}
  </div><!-- End row  -->
</div><!-- End container -->
      
      