<div class="container">
  <div class="row">    
  <div class="col-md-10 mx-auto my-4">
    <div class="card card-body">
      
      <h3 class="text-center mb-4">Profile</h3>
      <div class="text-center">
         <img
         src='https://storage.cloud.google.com/storybook_uploads/{{user.avatar }}'
         width="200" alt="" class="img-fluid rounded mb-4" id="profile-img"/>
      </div>
    

  <form id="update" action="/users/me?_method=PATCH" method="post" >
 
 <input type="hidden" name="avatar" value=""/>
 <input type="hidden" id="prevAvatar" value="https://storage.cloud.google.com/storybook_uploads/{{user.avatar }}">
  
  
  <div class="input-group mb-3"> 
    <div class="input-group-prepend"> 
      <span class="input-group-text" id="name">
        <span class="fas fa-user"></span>
      </span> 
    </div> 
    <input type="text" name="name" value="{{user.name}}"readonly="" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="name"> 
  </div> 
  
  <div class="input-group mb-3"> 
    <div class="input-group-prepend"> 
      <span class="input-group-text" id="email">@</span> 
    </div> 
    <input type="email" name="email" value="{{user.email}}"readonly="" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email"> 
  </div> <!-- end email -->
  
<div class="input-group mb-3"> 
    <div class="input-group-prepend"> 
      <span class="input-group-text " >
        <span class="fas fa-user-secret"></span>
      </span> 
    </div> 
    <input type="password" name="password" class="form-control" placeholder="Existing or new password" id="password" required="" minlength="5" aria-label="password" aria-describedby="password"> 
  </div> {{!-- End Password --}}

<div class="input-group mb-3"> 
    <div class="input-group-prepend"> 
      <span class="input-group-text " >
        <span class="fas fa-user-check"></span>
      </span> 
    </div> 
    <input type="password" class="form-control" placeholder="Confirm password" id="confirmPassword" name="confirmPassword" required="" minlength="5" aria-label="confirmPassword" aria-describedby="confirmPassword"> 
  </div> {{!-- End Confirm Password --}}
  

  <!-- Profile upload --> 
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Profile upload</span>
    </div>
    <div class="custom-file">
    <input type="file" class="custom-file-input" id="profile-image"  accept="image/*" />
    <label class="custom-file-label" for="file">Choose image</label>
    </div>
  </div>
  <!-- End Profile upload -->
 
  <input type="submit" class='btn btn-secondary btn-block' value="Update"/>
</form>

  <form action="/users/me?_method=DELETE" method="post">
    <button type="submit" class="btn btn-block btn-danger mt-2">Delete Account</button>
  </form>
  
</div>
</div>
</div>
</div>